{
    "openapi": "3.0.1",
    "info": {
        "title": "Twilio - Api",
        "description": "This is the public Twilio REST API.",
        "termsOfService": "https://www.twilio.com/legal/tos",
        "contact": {
            "name": "Twilio Support",
            "url": "https://support.twilio.com",
            "email": "support@twilio.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.twilio.com/2010-04-01"
        }
    ],
    "security": [
        {
            "accountSid_authToken": []
        }
    ],
    "tags": [
        {
            "name": "Api20100401Account"
        },
        {
            "name": "Api20100401AddOnResult"
        },
        {
            "name": "Api20100401Address"
        },
        {
            "name": "Api20100401AllTime"
        },
        {
            "name": "Api20100401Application"
        },
        {
            "name": "Api20100401AssignedAddOn"
        },
        {
            "name": "Api20100401AssignedAddOnExtension"
        },
        {
            "name": "Api20100401AuthCallsCredentialListMapping"
        },
        {
            "name": "Api20100401AuthCallsIpAccessControlListMapping"
        },
        {
            "name": "Api20100401AuthRegistrationsCredentialListMapping"
        },
        {
            "name": "Api20100401AuthorizedConnectApp"
        },
        {
            "name": "Api20100401AvailablePhoneNumberCountry"
        },
        {
            "name": "Api20100401AvailablePhoneNumberTypeParameterized"
        },
        {
            "name": "Api20100401Balance"
        },
        {
            "name": "Api20100401Call"
        },
        {
            "name": "Api20100401CallNotification"
        },
        {
            "name": "Api20100401CallRecording"
        },
        {
            "name": "Api20100401CallTranscription"
        },
        {
            "name": "Api20100401Conference"
        },
        {
            "name": "Api20100401ConferenceRecording"
        },
        {
            "name": "Api20100401ConnectApp"
        },
        {
            "name": "Api20100401Credential"
        },
        {
            "name": "Api20100401CredentialList"
        },
        {
            "name": "Api20100401CredentialListMapping"
        },
        {
            "name": "Api20100401Daily"
        },
        {
            "name": "Api20100401Data"
        },
        {
            "name": "Api20100401DependentPhoneNumber"
        },
        {
            "name": "Api20100401Domain"
        },
        {
            "name": "Api20100401Event"
        },
        {
            "name": "Api20100401Feedback"
        },
        {
            "name": "Api20100401HealthCheck"
        },
        {
            "name": "Api20100401IncomingPhoneNumber"
        },
        {
            "name": "Api20100401IncomingPhoneNumberLocal"
        },
        {
            "name": "Api20100401IncomingPhoneNumberMobile"
        },
        {
            "name": "Api20100401IncomingPhoneNumberTollFree"
        },
        {
            "name": "Api20100401IndexNode"
        },
        {
            "name": "Api20100401IpAccessControlList"
        },
        {
            "name": "Api20100401IpAccessControlListMapping"
        },
        {
            "name": "Api20100401IpAddress"
        },
        {
            "name": "Api20100401Key"
        },
        {
            "name": "Api20100401LastMonth"
        },
        {
            "name": "Api20100401Local"
        },
        {
            "name": "Api20100401MachineToMachine"
        },
        {
            "name": "Api20100401Media"
        },
        {
            "name": "Api20100401MediaInstance"
        },
        {
            "name": "Api20100401Member"
        },
        {
            "name": "Api20100401Message"
        },
        {
            "name": "Api20100401Mobile"
        },
        {
            "name": "Api20100401Monthly"
        },
        {
            "name": "Api20100401National"
        },
        {
            "name": "Api20100401NewKey"
        },
        {
            "name": "Api20100401NewSigningKey"
        },
        {
            "name": "Api20100401Notification"
        },
        {
            "name": "Api20100401OutgoingCallerId"
        },
        {
            "name": "Api20100401Participant"
        },
        {
            "name": "Api20100401Payload"
        },
        {
            "name": "Api20100401Payment"
        },
        {
            "name": "Api20100401Queue"
        },
        {
            "name": "Api20100401Record"
        },
        {
            "name": "Api20100401Recording"
        },
        {
            "name": "Api20100401RecordingTranscription"
        },
        {
            "name": "Api20100401Region"
        },
        {
            "name": "Api20100401SharedCost"
        },
        {
            "name": "Api20100401ShortCode"
        },
        {
            "name": "Api20100401SigningKey"
        },
        {
            "name": "Api20100401Sip"
        },
        {
            "name": "Api20100401SipIpAddress"
        },
        {
            "name": "Api20100401Siprec"
        },
        {
            "name": "Api20100401Sms"
        },
        {
            "name": "Api20100401SmsFeedback"
        },
        {
            "name": "Api20100401SmsMessage"
        },
        {
            "name": "Api20100401Stream"
        },
        {
            "name": "Api20100401ThisMonth"
        },
        {
            "name": "Api20100401Today"
        },
        {
            "name": "Api20100401Token"
        },
        {
            "name": "Api20100401TollFree"
        },
        {
            "name": "Api20100401Transcription"
        },
        {
            "name": "Api20100401Trigger"
        },
        {
            "name": "Api20100401TwimlSession"
        },
        {
            "name": "Api20100401Usage"
        },
        {
            "name": "Api20100401UsageRecordTimeParameterized"
        },
        {
            "name": "Api20100401UserDefinedMessage"
        },
        {
            "name": "Api20100401UserDefinedMessageSubscription"
        },
        {
            "name": "Api20100401ValidationRequest"
        },
        {
            "name": "Api20100401VersionNode"
        },
        {
            "name": "Api20100401Voip"
        },
        {
            "name": "Api20100401Yearly"
        },
        {
            "name": "Api20100401Yesterday"
        }
    ],
    "paths": {
        "/Accounts.json": {
            "description": "Twilio accounts (aka Project) or subaccounts",
            "get": {
                "tags": [
                    "Api20100401Account"
                ],
                "summary": "Retrieves a collection of Accounts belonging to the account used to make the request",
                "description": "Retrieves a collection of Accounts belonging to the account used to make the request",
                "operationId": "ListAccount",
                "parameters": [
                    {
                        "name": "FriendlyName",
                        "in": "query",
                        "description": "Only return the Account resources with friendly names that exactly match this name",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "readEmpty": {
                                "value": "friendly_name"
                            },
                            "readFull": {
                                "value": "friendly_name"
                            }
                        },
                        "x-twilio": {
                            "pii": {
                                "handling": "standard",
                                "deleteSla": 30
                            }
                        },
                        "x-ballerina-name": "friendlyName"
                    },
                    {
                        "name": "Status",
                        "in": "query",
                        "description": "Only return Account resources with the given status. Can be `closed`, `suspended` or `active`",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "$ref": "#/components/schemas/AccountEnumStatus"
                        },
                        "examples": {
                            "readEmpty": {
                                "value": "active"
                            },
                            "readFull": {
                                "value": "active"
                            }
                        },
                        "x-ballerina-name": "status"
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 1000,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int64"
                        },
                        "x-ballerina-name": "pageSize"
                    },
                    {
                        "name": "Page",
                        "in": "query",
                        "description": "The page index. This value is simply for client state",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        },
                        "x-ballerina-name": "page"
                    },
                    {
                        "name": "PageToken",
                        "in": "query",
                        "description": "The page token. This is provided by the API",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "pageToken"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "description": "Specify the origin(s) allowed to access the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "Access-Control-Allow-Methods": {
                                "description": "Specify the HTTP methods allowed when accessing the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "POST, OPTIONS"
                            },
                            "Access-Control-Allow-Headers": {
                                "description": "Specify the headers allowed when accessing the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Content-Type, Authorization"
                            },
                            "Access-Control-Allow-Credentials": {
                                "description": "Indicates whether the browser should include credentials",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Access-Control-Expose-Headers": {
                                "description": "Headers exposed to the client",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string",
                                    "example": "X-Custom-Header1, X-Custom-Header2"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListAccountResponse"
                                },
                                "examples": {
                                    "readEmpty": {
                                        "value": {
                                            "first_page_uri": "/2010-04-01/Accounts.json?FriendlyName=friendly_name&Status=active&PageSize=50&Page=0",
                                            "end": 0,
                                            "previous_page_uri": null,
                                            "accounts": [],
                                            "uri": "/2010-04-01/Accounts.json?FriendlyName=friendly_name&Status=active&PageSize=50&Page=0",
                                            "page_size": 50,
                                            "start": 0,
                                            "next_page_uri": null,
                                            "page": 0
                                        }
                                    },
                                    "readFull": {
                                        "value": {
                                            "first_page_uri": "/2010-04-01/Accounts.json?FriendlyName=friendly_name&Status=active&PageSize=50&Page=0",
                                            "end": 0,
                                            "previous_page_uri": null,
                                            "accounts": [
                                                {
                                                    "auth_token": "auth_token",
                                                    "date_created": "Thu, 30 Jul 2015 20:00:00 +0000",
                                                    "date_updated": "Thu, 30 Jul 2015 20:00:00 +0000",
                                                    "friendly_name": "friendly_name",
                                                    "owner_account_sid": "ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                                                    "sid": "ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                                                    "status": "active",
                                                    "subresource_uris": {
                                                        "available_phone_numbers": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/AvailablePhoneNumbers.json",
                                                        "calls": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls.json",
                                                        "conferences": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Conferences.json",
                                                        "incoming_phone_numbers": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/IncomingPhoneNumbers.json",
                                                        "notifications": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Notifications.json",
                                                        "outgoing_caller_ids": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/OutgoingCallerIds.json",
                                                        "recordings": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Recordings.json",
                                                        "transcriptions": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Transcriptions.json",
                                                        "addresses": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Addresses.json",
                                                        "signing_keys": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/SigningKeys.json",
                                                        "connect_apps": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/ConnectApps.json",
                                                        "sip": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/SIP.json",
                                                        "authorized_connect_apps": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/AuthorizedConnectApps.json",
                                                        "usage": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Usage.json",
                                                        "keys": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Keys.json",
                                                        "applications": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Applications.json",
                                                        "short_codes": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/SMS/ShortCodes.json",
                                                        "queues": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Queues.json",
                                                        "messages": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Messages.json",
                                                        "balance": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Balance.json"
                                                    },
                                                    "type": "Full",
                                                    "uri": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.json"
                                                }
                                            ],
                                            "uri": "/2010-04-01/Accounts.json?FriendlyName=friendly_name&Status=active&PageSize=50&Page=0",
                                            "page_size": 50,
                                            "start": 0,
                                            "next_page_uri": null,
                                            "page": 0
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "accountSid_authToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Api20100401Account"
                ],
                "summary": "Create a new Twilio Subaccount from the account making the request",
                "description": "Create a new Twilio Subaccount from the account making the request",
                "operationId": "CreateAccount",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAccountRequest"
                            },
                            "examples": {
                                "create": {
                                    "value": {
                                        "FriendlyName": "friendly_name"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "description": "Specify the origin(s) allowed to access the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "Access-Control-Allow-Methods": {
                                "description": "Specify the HTTP methods allowed when accessing the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "POST, OPTIONS"
                            },
                            "Access-Control-Allow-Headers": {
                                "description": "Specify the headers allowed when accessing the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Content-Type, Authorization"
                            },
                            "Access-Control-Allow-Credentials": {
                                "description": "Indicates whether the browser should include credentials",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Access-Control-Expose-Headers": {
                                "description": "Headers exposed to the client",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string",
                                    "example": "X-Custom-Header1, X-Custom-Header2"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiV2010Account"
                                },
                                "examples": {
                                    "create": {
                                        "value": {
                                            "auth_token": "auth_token",
                                            "date_created": "Thu, 30 Jul 2015 20:00:00 +0000",
                                            "date_updated": "Thu, 30 Jul 2015 20:00:00 +0000",
                                            "friendly_name": "friendly_name",
                                            "owner_account_sid": "ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                                            "sid": "ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                                            "status": "active",
                                            "subresource_uris": {
                                                "available_phone_numbers": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/AvailablePhoneNumbers.json",
                                                "calls": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls.json",
                                                "conferences": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Conferences.json",
                                                "incoming_phone_numbers": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/IncomingPhoneNumbers.json",
                                                "notifications": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Notifications.json",
                                                "outgoing_caller_ids": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/OutgoingCallerIds.json",
                                                "recordings": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Recordings.json",
                                                "transcriptions": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Transcriptions.json",
                                                "addresses": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Addresses.json",
                                                "signing_keys": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/SigningKeys.json",
                                                "connect_apps": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/ConnectApps.json",
                                                "sip": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/SIP.json",
                                                "authorized_connect_apps": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/AuthorizedConnectApps.json",
                                                "usage": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Usage.json",
                                                "keys": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Keys.json",
                                                "applications": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Applications.json",
                                                "short_codes": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/SMS/ShortCodes.json",
                                                "queues": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Queues.json",
                                                "messages": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Messages.json",
                                                "balance": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Balance.json"
                                            },
                                            "type": "Full",
                                            "uri": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.json"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "accountSid_authToken": []
                    }
                ]
            },
            "servers": [
                {
                    "url": "https://api.twilio.com"
                }
            ],
            "x-twilio": {
                "defaultOutputProperties": [
                    "sid",
                    "friendly_name",
                    "status"
                ],
                "dependentProperties": {
                    "addresses": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Addresses.json"
                    },
                    "applications": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Applications.json"
                    },
                    "authorized_connect_apps": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/AuthorizedConnectApps.json"
                    },
                    "available_phone_numbers": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers.json"
                    },
                    "balance": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Balance.json"
                    },
                    "calls": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Calls.json"
                    },
                    "conferences": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Conferences.json"
                    },
                    "connect_apps": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/ConnectApps.json"
                    },
                    "incoming_phone_numbers": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/IncomingPhoneNumbers.json"
                    },
                    "keys": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Keys.json"
                    },
                    "messages": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Messages.json"
                    },
                    "new_keys": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Keys.json"
                    },
                    "new_signing_keys": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/SigningKeys.json"
                    },
                    "notifications": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Notifications.json"
                    },
                    "outgoing_caller_ids": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/OutgoingCallerIds.json"
                    },
                    "queues": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Queues.json"
                    },
                    "recordings": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Recordings.json"
                    },
                    "signing_keys": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/SigningKeys.json"
                    },
                    "sip": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/SIP.json"
                    },
                    "sms": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/SMS.json"
                    },
                    "short_codes": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/SMS/ShortCodes.json"
                    },
                    "tokens": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Tokens.json"
                    },
                    "transcriptions": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Transcriptions.json"
                    },
                    "usage": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Usage.json"
                    },
                    "validation_requests": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/OutgoingCallerIds.json"
                    }
                },
                "pathType": "list"
            }
        },
        "/Accounts/{sid}.json": {
            "description": "Twilio accounts (aka Project) or subaccounts",
            "get": {
                "tags": [
                    "Api20100401Account"
                ],
                "summary": "Fetch the account specified by the provided Account Sid",
                "description": "Fetch the account specified by the provided Account Sid",
                "operationId": "FetchAccount",
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "description": "The Account Sid that uniquely identifies the account to fetch",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "maxLength": 34,
                            "minLength": 34,
                            "pattern": "^AC[0-9a-fA-F]{32}$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "description": "Specify the origin(s) allowed to access the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "Access-Control-Allow-Methods": {
                                "description": "Specify the HTTP methods allowed when accessing the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "POST, OPTIONS"
                            },
                            "Access-Control-Allow-Headers": {
                                "description": "Specify the headers allowed when accessing the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Content-Type, Authorization"
                            },
                            "Access-Control-Allow-Credentials": {
                                "description": "Indicates whether the browser should include credentials",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Access-Control-Expose-Headers": {
                                "description": "Headers exposed to the client",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string",
                                    "example": "X-Custom-Header1, X-Custom-Header2"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiV2010Account"
                                },
                                "examples": {
                                    "fetch": {
                                        "value": {
                                            "auth_token": "auth_token",
                                            "date_created": "Thu, 30 Jul 2015 20:00:00 +0000",
                                            "date_updated": "Thu, 30 Jul 2015 20:00:00 +0000",
                                            "friendly_name": "friendly_name",
                                            "owner_account_sid": "ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                                            "sid": "ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                                            "status": "active",
                                            "subresource_uris": {
                                                "available_phone_numbers": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/AvailablePhoneNumbers.json",
                                                "calls": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls.json",
                                                "conferences": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Conferences.json",
                                                "incoming_phone_numbers": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/IncomingPhoneNumbers.json",
                                                "notifications": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Notifications.json",
                                                "outgoing_caller_ids": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/OutgoingCallerIds.json",
                                                "recordings": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Recordings.json",
                                                "transcriptions": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Transcriptions.json",
                                                "addresses": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Addresses.json",
                                                "signing_keys": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/SigningKeys.json",
                                                "connect_apps": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/ConnectApps.json",
                                                "sip": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/SIP.json",
                                                "authorized_connect_apps": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/AuthorizedConnectApps.json",
                                                "usage": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Usage.json",
                                                "keys": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Keys.json",
                                                "applications": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Applications.json",
                                                "short_codes": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/SMS/ShortCodes.json",
                                                "queues": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Queues.json",
                                                "messages": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Messages.json",
                                                "balance": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Balance.json"
                                            },
                                            "type": "Full",
                                            "uri": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.json"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "accountSid_authToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Api20100401Account"
                ],
                "summary": "Modify the properties of a given Account",
                "description": "Modify the properties of a given Account",
                "operationId": "UpdateAccount",
                "parameters": [
                    {
                        "name": "sid",
                        "in": "path",
                        "description": "The Account Sid that uniquely identifies the account to update",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "maxLength": 34,
                            "minLength": 34,
                            "pattern": "^AC[0-9a-fA-F]{32}$",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateAccountRequest"
                            },
                            "examples": {
                                "update": {
                                    "value": {
                                        "FriendlyName": "friendly_name",
                                        "Status": "active"
                                    }
                                },
                                "updateWithNumericStatus": {
                                    "value": {
                                        "Status": "1"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "description": "Specify the origin(s) allowed to access the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "Access-Control-Allow-Methods": {
                                "description": "Specify the HTTP methods allowed when accessing the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "POST, OPTIONS"
                            },
                            "Access-Control-Allow-Headers": {
                                "description": "Specify the headers allowed when accessing the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Content-Type, Authorization"
                            },
                            "Access-Control-Allow-Credentials": {
                                "description": "Indicates whether the browser should include credentials",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Access-Control-Expose-Headers": {
                                "description": "Headers exposed to the client",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string",
                                    "example": "X-Custom-Header1, X-Custom-Header2"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiV2010Account"
                                },
                                "examples": {
                                    "update": {
                                        "value": {
                                            "auth_token": "auth_token",
                                            "date_created": "Thu, 30 Jul 2015 20:00:00 +0000",
                                            "date_updated": "Thu, 30 Jul 2015 20:00:00 +0000",
                                            "friendly_name": "friendly_name",
                                            "owner_account_sid": "ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                                            "sid": "ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                                            "status": "active",
                                            "subresource_uris": {
                                                "available_phone_numbers": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/AvailablePhoneNumbers.json",
                                                "calls": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls.json",
                                                "conferences": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Conferences.json",
                                                "incoming_phone_numbers": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/IncomingPhoneNumbers.json",
                                                "notifications": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Notifications.json",
                                                "outgoing_caller_ids": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/OutgoingCallerIds.json",
                                                "recordings": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Recordings.json",
                                                "transcriptions": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Transcriptions.json",
                                                "addresses": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Addresses.json",
                                                "signing_keys": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/SigningKeys.json",
                                                "connect_apps": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/ConnectApps.json",
                                                "sip": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/SIP.json",
                                                "authorized_connect_apps": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/AuthorizedConnectApps.json",
                                                "usage": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Usage.json",
                                                "keys": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Keys.json",
                                                "applications": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Applications.json",
                                                "short_codes": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/SMS/ShortCodes.json",
                                                "queues": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Queues.json",
                                                "messages": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Messages.json",
                                                "balance": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Balance.json"
                                            },
                                            "type": "Full",
                                            "uri": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.json"
                                        }
                                    },
                                    "updateWithNumericStatus": {
                                        "value": {
                                            "auth_token": "auth_token",
                                            "date_created": "Thu, 30 Jul 2015 20:00:00 +0000",
                                            "date_updated": "Thu, 30 Jul 2015 20:00:00 +0000",
                                            "friendly_name": "friendly_name",
                                            "owner_account_sid": "ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                                            "sid": "ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                                            "status": "active",
                                            "subresource_uris": {
                                                "available_phone_numbers": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/AvailablePhoneNumbers.json",
                                                "calls": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Calls.json",
                                                "conferences": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Conferences.json",
                                                "incoming_phone_numbers": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/IncomingPhoneNumbers.json",
                                                "notifications": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Notifications.json",
                                                "outgoing_caller_ids": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/OutgoingCallerIds.json",
                                                "recordings": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Recordings.json",
                                                "transcriptions": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Transcriptions.json",
                                                "addresses": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Addresses.json",
                                                "signing_keys": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/SigningKeys.json",
                                                "connect_apps": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/ConnectApps.json",
                                                "sip": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/SIP.json",
                                                "authorized_connect_apps": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/AuthorizedConnectApps.json",
                                                "usage": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Usage.json",
                                                "keys": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Keys.json",
                                                "applications": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Applications.json",
                                                "short_codes": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/SMS/ShortCodes.json",
                                                "queues": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Queues.json",
                                                "messages": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Messages.json",
                                                "balance": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Balance.json"
                                            },
                                            "type": "Full",
                                            "uri": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.json"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "accountSid_authToken": []
                    }
                ]
            },
            "servers": [
                {
                    "url": "https://api.twilio.com"
                }
            ],
            "x-twilio": {
                "defaultOutputProperties": [
                    "sid",
                    "friendly_name",
                    "status"
                ],
                "dependentProperties": {
                    "addresses": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Addresses.json"
                    },
                    "applications": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Applications.json"
                    },
                    "authorized_connect_apps": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/AuthorizedConnectApps.json"
                    },
                    "available_phone_numbers": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/AvailablePhoneNumbers.json"
                    },
                    "balance": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Balance.json"
                    },
                    "calls": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Calls.json"
                    },
                    "conferences": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Conferences.json"
                    },
                    "connect_apps": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/ConnectApps.json"
                    },
                    "incoming_phone_numbers": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/IncomingPhoneNumbers.json"
                    },
                    "keys": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Keys.json"
                    },
                    "messages": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Messages.json"
                    },
                    "new_keys": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Keys.json"
                    },
                    "new_signing_keys": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/SigningKeys.json"
                    },
                    "notifications": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Notifications.json"
                    },
                    "outgoing_caller_ids": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/OutgoingCallerIds.json"
                    },
                    "queues": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Queues.json"
                    },
                    "recordings": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Recordings.json"
                    },
                    "signing_keys": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/SigningKeys.json"
                    },
                    "sip": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/SIP.json"
                    },
                    "sms": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/SMS.json"
                    },
                    "short_codes": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/SMS/ShortCodes.json"
                    },
                    "tokens": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Tokens.json"
                    },
                    "transcriptions": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Transcriptions.json"
                    },
                    "usage": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Usage.json"
                    },
                    "validation_requests": {
                        "mapping": {
                            "account_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/OutgoingCallerIds.json"
                    }
                },
                "pathType": "instance"
            }
        },
        "/Accounts/{accountSid}/Addresses.json": {
            "description": "An Address instance resource represents your or your customer's physical location within a country. Around the world, some local authorities require the name and address of the user to be on file with Twilio to purchase and own a phone number.",
            "get": {
                "tags": [
                    "Api20100401Address"
                ],
                "summary": "",
                "description": "",
                "operationId": "ListAddress",
                "parameters": [
                    {
                        "name": "accountSid",
                        "in": "path",
                        "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that is responsible for the Address resource to read",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "maxLength": 34,
                            "minLength": 34,
                            "pattern": "^AC[0-9a-fA-F]{32}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "CustomerName",
                        "in": "query",
                        "description": "The `customer_name` of the Address resources to read",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "readFull": {
                                "value": "customer_name"
                            },
                            "readEmpty": {
                                "value": "customer_name"
                            }
                        },
                        "x-twilio": {
                            "pii": {
                                "handling": "standard",
                                "deleteSla": 30
                            }
                        },
                        "x-ballerina-name": "customerName"
                    },
                    {
                        "name": "FriendlyName",
                        "in": "query",
                        "description": "The string that identifies the Address resources to read",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "readFull": {
                                "value": "friendly_name"
                            },
                            "readEmpty": {
                                "value": "friendly_name"
                            }
                        },
                        "x-twilio": {
                            "pii": {
                                "handling": "standard",
                                "deleteSla": 30
                            }
                        },
                        "x-ballerina-name": "friendlyName"
                    },
                    {
                        "name": "EmergencyEnabled",
                        "in": "query",
                        "description": "Whether the address can be associated to a number for emergency calling",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        },
                        "x-ballerina-name": "emergencyEnabled"
                    },
                    {
                        "name": "IsoCountry",
                        "in": "query",
                        "description": "The ISO country code of the Address resources to read",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "iso-country-code"
                        },
                        "examples": {
                            "readFull": {
                                "value": "US"
                            },
                            "readEmpty": {
                                "value": "US"
                            }
                        },
                        "x-ballerina-name": "isoCountry"
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 1000,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int64"
                        },
                        "x-ballerina-name": "pageSize"
                    },
                    {
                        "name": "Page",
                        "in": "query",
                        "description": "The page index. This value is simply for client state",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "minimum": 0,
                            "type": "integer"
                        },
                        "x-ballerina-name": "page"
                    },
                    {
                        "name": "PageToken",
                        "in": "query",
                        "description": "The page token. This is provided by the API",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "pageToken"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "description": "Specify the origin(s) allowed to access the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "Access-Control-Allow-Methods": {
                                "description": "Specify the HTTP methods allowed when accessing the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "POST, OPTIONS"
                            },
                            "Access-Control-Allow-Headers": {
                                "description": "Specify the headers allowed when accessing the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Content-Type, Authorization"
                            },
                            "Access-Control-Allow-Credentials": {
                                "description": "Indicates whether the browser should include credentials",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Access-Control-Expose-Headers": {
                                "description": "Headers exposed to the client",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string",
                                    "example": "X-Custom-Header1, X-Custom-Header2"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListAddressResponse"
                                },
                                "examples": {
                                    "readFull": {
                                        "value": {
                                            "addresses": [
                                                {
                                                    "account_sid": "ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                                                    "city": "SF",
                                                    "customer_name": "name",
                                                    "date_created": "Tue, 18 Aug 2015 17:07:30 +0000",
                                                    "date_updated": "Tue, 18 Aug 2015 17:07:30 +0000",
                                                    "emergency_enabled": false,
                                                    "friendly_name": "Main Office",
                                                    "iso_country": "US",
                                                    "postal_code": "94019",
                                                    "region": "CA",
                                                    "sid": "ADaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                                                    "street": "4th",
                                                    "street_secondary": null,
                                                    "validated": false,
                                                    "verified": false,
                                                    "uri": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Addresses/ADaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.json"
                                                }
                                            ],
                                            "end": 0,
                                            "first_page_uri": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Addresses.json?FriendlyName=friendly_name&IsoCountry=US&CustomerName=customer_name&PageSize=50&Page=0",
                                            "next_page_uri": null,
                                            "page": 0,
                                            "page_size": 50,
                                            "previous_page_uri": null,
                                            "start": 0,
                                            "uri": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Addresses.json?FriendlyName=friendly_name&IsoCountry=US&CustomerName=customer_name&PageSize=50&Page=0"
                                        }
                                    },
                                    "readEmpty": {
                                        "value": {
                                            "addresses": [],
                                            "end": 0,
                                            "first_page_uri": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Addresses.json?FriendlyName=friendly_name&IsoCountry=US&CustomerName=customer_name&PageSize=50&Page=0",
                                            "next_page_uri": null,
                                            "page": 0,
                                            "page_size": 50,
                                            "previous_page_uri": null,
                                            "start": 0,
                                            "uri": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Addresses.json?FriendlyName=friendly_name&IsoCountry=US&CustomerName=customer_name&PageSize=50&Page=0"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "accountSid_authToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Api20100401Address"
                ],
                "summary": "",
                "description": "",
                "operationId": "CreateAddress",
                "parameters": [
                    {
                        "name": "accountSid",
                        "in": "path",
                        "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that will be responsible for the new Address resource",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "maxLength": 34,
                            "minLength": 34,
                            "pattern": "^AC[0-9a-fA-F]{32}$",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAddressRequest"
                            },
                            "examples": {
                                "create": {
                                    "value": {
                                        "City": "city",
                                        "CustomerName": "customer_name",
                                        "FriendlyName": "friendly_name",
                                        "IsoCountry": "US",
                                        "PostalCode": "postal_code",
                                        "Region": "region",
                                        "Street": "street"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "description": "Specify the origin(s) allowed to access the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "Access-Control-Allow-Methods": {
                                "description": "Specify the HTTP methods allowed when accessing the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "POST, OPTIONS"
                            },
                            "Access-Control-Allow-Headers": {
                                "description": "Specify the headers allowed when accessing the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Content-Type, Authorization"
                            },
                            "Access-Control-Allow-Credentials": {
                                "description": "Indicates whether the browser should include credentials",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Access-Control-Expose-Headers": {
                                "description": "Headers exposed to the client",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string",
                                    "example": "X-Custom-Header1, X-Custom-Header2"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiV2010AccountAddress"
                                },
                                "examples": {
                                    "create": {
                                        "value": {
                                            "account_sid": "ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                                            "city": "SF",
                                            "customer_name": "name",
                                            "date_created": "Tue, 18 Aug 2015 17:07:30 +0000",
                                            "date_updated": "Tue, 18 Aug 2015 17:07:30 +0000",
                                            "emergency_enabled": false,
                                            "friendly_name": "Main Office",
                                            "iso_country": "US",
                                            "postal_code": "94019",
                                            "region": "CA",
                                            "sid": "ADaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                                            "street": "4th",
                                            "street_secondary": "Suite 300",
                                            "validated": false,
                                            "verified": false,
                                            "uri": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Addresses/ADaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.json"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "accountSid_authToken": []
                    }
                ]
            },
            "servers": [
                {
                    "url": "https://api.twilio.com"
                }
            ],
            "x-twilio": {
                "defaultOutputProperties": [
                    "sid",
                    "friendly_name",
                    "validated",
                    "verified"
                ],
                "dependentProperties": {
                    "dependent_phone_numbers": {
                        "mapping": {
                            "account_sid": "account_sid",
                            "address_sid": "sid"
                        },
                        "resource_url": "/2010-04-01/Accounts/{account_sid}/Addresses/{address_sid}/DependentPhoneNumbers.json"
                    }
                },
                "parent": "/Accounts/{Sid}.json",
                "pathType": "list"
            }
        },
        "/Accounts/{accountSid}/Addresses/{sid}.json": {
            "description": "An Address instance resource represents your or your customer's physical location within a country. Around the world, some local authorities require the name and address of the user to be on file with Twilio to purchase and own a phone number.",
            "get": {
                "tags": [
                    "Api20100401Address"
                ],
                "summary": "",
                "description": "",
                "operationId": "FetchAddress",
                "parameters": [
                    {
                        "name": "accountSid",
                        "in": "path",
                        "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that is responsible for the Address resource to fetch",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "maxLength": 34,
                            "minLength": 34,
                            "pattern": "^AC[0-9a-fA-F]{32}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "sid",
                        "in": "path",
                        "description": "The Twilio-provided string that uniquely identifies the Address resource to fetch",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "maxLength": 34,
                            "minLength": 34,
                            "pattern": "^AD[0-9a-fA-F]{32}$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "description": "Specify the origin(s) allowed to access the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "Access-Control-Allow-Methods": {
                                "description": "Specify the HTTP methods allowed when accessing the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "POST, OPTIONS"
                            },
                            "Access-Control-Allow-Headers": {
                                "description": "Specify the headers allowed when accessing the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Content-Type, Authorization"
                            },
                            "Access-Control-Allow-Credentials": {
                                "description": "Indicates whether the browser should include credentials",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Access-Control-Expose-Headers": {
                                "description": "Headers exposed to the client",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string",
                                    "example": "X-Custom-Header1, X-Custom-Header2"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiV2010AccountAddress"
                                },
                                "examples": {
                                    "fetch": {
                                        "value": {
                                            "account_sid": "ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                                            "city": "SF",
                                            "customer_name": "name",
                                            "date_created": "Tue, 18 Aug 2015 17:07:30 +0000",
                                            "date_updated": "Tue, 18 Aug 2015 17:07:30 +0000",
                                            "emergency_enabled": false,
                                            "friendly_name": "Main Office",
                                            "iso_country": "US",
                                            "postal_code": "94019",
                                            "region": "CA",
                                            "sid": "ADaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                                            "street": "4th",
                                            "street_secondary": null,
                                            "validated": false,
                                            "verified": false,
                                            "uri": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Addresses/ADaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.json"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "accountSid_authToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Api20100401Address"
                ],
                "summary": "",
                "description": "",
                "operationId": "UpdateAddress",
                "parameters": [
                    {
                        "name": "accountSid",
                        "in": "path",
                        "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that is responsible for the Address resource to update",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "maxLength": 34,
                            "minLength": 34,
                            "pattern": "^AC[0-9a-fA-F]{32}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "sid",
                        "in": "path",
                        "description": "The Twilio-provided string that uniquely identifies the Address resource to update",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "maxLength": 34,
                            "minLength": 34,
                            "pattern": "^AD[0-9a-fA-F]{32}$",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateAddressRequest"
                            },
                            "examples": {
                                "update": {
                                    "value": {
                                        "City": "city",
                                        "CustomerName": "customer_name",
                                        "FriendlyName": "friendly_name",
                                        "PostalCode": "postal_code",
                                        "Region": "region",
                                        "Street": "street"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "description": "Specify the origin(s) allowed to access the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "*"
                            },
                            "Access-Control-Allow-Methods": {
                                "description": "Specify the HTTP methods allowed when accessing the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "POST, OPTIONS"
                            },
                            "Access-Control-Allow-Headers": {
                                "description": "Specify the headers allowed when accessing the resource",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Content-Type, Authorization"
                            },
                            "Access-Control-Allow-Credentials": {
                                "description": "Indicates whether the browser should include credentials",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            "Access-Control-Expose-Headers": {
                                "description": "Headers exposed to the client",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string",
                                    "example": "X-Custom-Header1, X-Custom-Header2"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiV2010AccountAddress"
                                },
                                "examples": {
                                    "update": {
                                        "value": {
                                            "account_sid": "ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                                            "city": "SF",
                                            "customer_name": "name",
                                            "date_created": "Tue, 18 Aug 2015 17:07:30 +0000",
                                            "date_updated": "Tue, 18 Aug 2015 17:07:30 +0000",
                                            "emergency_enabled": false,
                                            "friendly_name": "Main Office",
                                            "iso_country": "US",
                                            "postal_code": "94019",
                                            "region": "CA",
                                            "sid": "ADaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                                            "street": "4th",
                                            "street_secondary": null,
                                            "validated": false,
                                            "verified": false,
                                            "uri": "/2010-04-01/Accounts/ACaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Addresses/ADaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.json"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "accountSid_authToken": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Api20100401Address"
                ],
                "summary": "",
                "description": "",
                "operationId": "DeleteAddress",
                "parameters": [
                    {
                        "name": "accountSid",
                        "in": "path",
                        "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that is responsible for the Address resource to delete",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "maxLength": 34,
                            "minLength": 34,
                            "pattern": "^AC[0-9a-fA-F]{32}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "sid",
                        "in": "path",
                        "description": "The Twilio-provided string that uniquely identifies the Address resource to delete",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "maxLength": 34,
                            "minLength": 34,
                            "pattern": "^AD[0-9a-fA-F]{32}$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The resource was deleted successfully"
                    }
                },
                "security": [
                    {
                        "accountSid_authToken": []
                    }
                ]
            },
            "servers": [
                {
                    "url": "https://api.twilio.com"
                }
            ],
            "x-twilio": {
                "defaultOutputProperties": [
                    "sid",
                    "friendly_name",
                    "validated",
                    "verified"
                ],
                "dependentProperties": {
[...]
